---
import '../assets/global.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import LeftSidebar from '@/components/LeftSidebar.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.png" />
    <title>{Astro.props.title}</title>
  </head>

  <body>
    <div id="app">
      <Header stretch />
      <div class="docs-container stretch content">
        <LeftSidebar url={Astro.url} />
        <main id="main-space" class="docs-container markdown-container">
          <slot />
          <Footer />
        </main>
      </div>
    </div>
    <style>
      .content {
        display: flex;
        flex-direction: row;
        height: calc(100% - 3.5rem);
      }

      #main-space {
        height: 100%;
        padding: 0 2rem;
      }

      #main-space > :global(h1:first-child) {
        margin-top: 0.7rem;
      }

      @media (min-width: 768px) {
        #main-space {
          height: 100%;
          padding: 0 3rem;
        }
      }
    </style>
  </body>
</html>
