---
import '../assets/global.css'
import whyframeLogo from '../assets/whyframe.svg'
import Layout from '../layouts/Layout.astro'
import Story from '../components/Story.svelte'
import PopupSvelte from '../components/Popup.svelte'
import PopupVue from '../components/Popup.vue'
import PopupSolid from '../components/PopupSolid.jsx'
import PopupPreact from '../components/PopupPreact.jsx'
import PopupReact from '../components/PopupReact.jsx'
---

<Layout>
  <div>
    <a href="https://astro.build" target="_blank">
      <img src="/astro.svg" class="logo astro" alt="astro" height="80" />
    </a>
    <a href="https://whyframe.dev" target="_blank">
      <img
        src={whyframeLogo}
        class="logo whyframe"
        alt="whyframe"
        height="80"
      />
    </a>
  </div>

  <h1>Astro + Whyframe</h1>

  <p class="docs">
    Check out the examples below to see component isolation in action!
    <br />
    You can view the source code at <code>src/pages/index.astro</code>.
    <br />
    Click on the logos above to learn more.
  </p>

  <h2>Svelte</h2>
  <div class="frames">
    <iframe data-why title="Popup 1">
      <p>Simple usage example</p> <PopupSvelte content="Hello world">Open
      popup</PopupSvelte>
    </iframe>

    <Story client:load title="Popup 2">
      <p>This is a Story component</p>
      <PopupSvelte content="Hello world">Open popup</PopupSvelte>
    </Story>
  </div>

  <h2>Vue</h2>
  <div class="frames">
    <iframe data-why="vue" title="Popup 1">
      <p>Simple usage example</p> <PopupVue content="Hello world">Open
      popup</PopupVue>
    </iframe>

    <Story client:load why="vue" title="Popup 2">
      <p>This is a Story component</p>
      <PopupVue content="Hello world">Open popup</PopupVue>
    </Story>
  </div>

  <h2>Solid</h2>
  <div class="frames">
    <iframe data-why="solid" title="Popup 1">
      <p>Simple usage example</p> <PopupSolid content="Hello world">Open
      popup</PopupSolid>
    </iframe>

    <Story client:load why="solid" title="Popup 2">
      <p>This is a Story component</p>
      <PopupSolid content="Hello world">Open popup</PopupSolid>
    </Story>
  </div>

  <h2>Preact</h2>
  <div class="frames">
    <iframe data-why="preact" title="Popup 1">
      <p>Simple usage example</p> <PopupPreact content="Hello world">Open
      popup</PopupPreact>
    </iframe>

    <Story client:load why="preact" title="Popup 2">
      <p>This is a Story component</p>
      <PopupPreact content="Hello world">Open popup</PopupPreact>
    </Story>
  </div>

  <h2>React</h2>
  <div class="frames">
    <iframe data-why="react" title="Popup 1">
      <p>Simple usage example</p> <PopupReact content="Hello world">Open
      popup</PopupReact>
    </iframe>

    <Story client:load why="react" title="Popup 2">
      <p>This is a Story component</p>
      <PopupReact content="Hello world">Open popup</PopupReact>
    </Story>
  </div>

  <p>
    Go to <a href="/mdx">/mdx</a> for a MDX example.
  </p>
</Layout>
