---
import { Code } from 'astro/components'
import HeroDemo from './HeroDemo.svelte'
import demoCode from './HeroDemo.svelte?raw'

const finalCode = demoCode.slice(0, demoCode.indexOf('\n<style'))
---

<div class="background">
  <section class="docs-container">
    <h1 class="headline">
      Develop components in <span class="isolate">isolation</span>
    </h1>

    <div class="wrapper">
      <div class="code-block">
        <Code code={finalCode} lang="html" />
      </div>
      <div class="output-block">
        <HeroDemo />
      </div>
    </div>

    <p class="explainer">
      whyframe gives iframes superpowers, <br />
       making it easy to render anything in isolation.
    </p>

    <div class="buttons">
      <a class="button large primary" href="/docs/overview">Get started</a>
      <a class="button large" href="/docs/how-it-works">How it works</a>
    </div>
  </section>
</div>

<style>
  .background {
    background-image: url(@/assets/background.svg);
    background-position: 0 bottom;
    margin-top: -3.5rem;
    padding: 5rem 0;
  }

  .headline {
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem 0;
    line-height: 1.6;
  }
  /* overwrite global style */
  .headline.headline {
    margin-top: 0;
  }

  .isolate {
    position: relative;
    display: inline-block;
    color: var(--primary);
    margin-left: 0.7rem;
  }

  .isolate::before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: calc(100% + 24px);
    height: 100%;
    border-radius: 0.5rem;
    border: 2px dashed var(--primary-light);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 2rem auto;
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 400px;
    box-shadow:
      0px 1px 2.2px 2px rgba(255, 237, 36, 0.128),
      0px 1px 5.3px 2px rgba(255, 237, 36, 0.14),
      0px 1px 10px 2px rgba(255, 237, 36, 0.15),
      0px 1px 17.9px 2px rgba(255, 237, 36, 0.16),
      0px 1px 33.4px 2px rgba(255, 237, 36, 0.272),
      0px 1px 80px 2px rgba(255, 237, 36, 0.3);
  }

  .code-block {
    position: relative;
    isolation: isolate;
    padding: 0.3rem 1rem;
    /* shiki */
    background-color: #24292e;
    font-size: 1em;
    width: 100%;
  }

  .code-block :global(code) :global(.line:nth-child(1)),
  .code-block :global(code) :global(.line:nth-child(2)),
  .code-block :global(code) :global(.line:nth-child(3)),
  .code-block :global(code) :global(.line:nth-child(4)),
  .code-block :global(code) :global(.line:nth-child(5)),
  .code-block :global(code) :global(.line:nth-child(6)),
  .code-block :global(code) :global(.line:nth-child(7)),
  .code-block :global(code) :global(.line:nth-child(8)),
  .code-block :global(code) :global(.line:nth-child(12)),
  .code-block :global(code) :global(.line:nth-child(13)) {
    opacity: 0.6;
  }

  .output-block {
    padding: 1rem 1.2rem;
    /* shiki */
    background-color: var(--gray-dark);
    width: 100%;
  }

  iframe {
    border: none;
    border-radius: 0.5rem;
    display: block;
    margin: 0;
    flex-basis: 67%;
  }

  p {
    margin-top: 0;
    margin-bottom: 0.8rem;
  }

  .explainer {
    text-align: center;
    font-size: 1rem;
    margin-top: 3.6rem;
    margin-bottom: 2rem;
    opacity: 0.8;
    line-height: 1.8;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  @media (min-width: 768px) {
    .headline {
      font-size: 2.5rem;
      padding: 1.5rem 0;
    }

    .wrapper {
      flex-direction: row;
      max-width: 700px;
    }

    .code-block,
    .output-block {
      width: 50%;
    }

    .explainer {
      font-size: 1.3rem;
    }
  }
</style>
