<section class="docs-container">
  <h2>Support</h2>
  <p class="sponsors-text">
    whyframe is made possible thanks to these fine folks
  </p>
  <p class="sponsors-support">
    <a class="link" href="https://patreon.com/bluwy">Support me on Patreon!</a>
  </p>
  <p class="sponsors-img">
    <a href="https://bjornlu.com/sponsors.svg">
      <img src="https://bjornlu.com/sponsors.svg" alt="Sponsors" />
    </a>
  </p>
</section>

<style>
  h2 {
    text-align: center;
    margin: 5rem 0 1rem;
  }

  .sponsors-text {
    text-align: center;
    margin-bottom: 0.7rem;
    font-size: 1.1rem;
    opacity: 0.7;
    line-height: 1.8;
  }

  .sponsors-support {
    opacity: 0.8;
    text-align: center;
    font-size: 1rem;
    margin-top: 0.7rem;
  }

  .sponsors-img {
    text-align: center;
    margin-top: 2.5rem;
  }

  .sponsors-img img {
    max-width: calc(100vw - 2rem);
  }
</style>
