<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>whyframe</title>
  </head>

  <body>
    <div id="app"></div>
    <p id="iframe-tag">iframe</p>
    <script>
      import { createApp } from 'whyframe:app'

      createApp(document.getElementById('app'))
    </script>
    <style is:global>
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      html,
      body,
      #app {
        font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      body {
        background-color: #282828;
        color: #efefef;
        transition: background-color 0.2s ease;
      }

      #iframe-tag {
        position: fixed;
        top: 0;
        right: 0;
        padding: 0.2rem 0.3rem 0.1rem 0.4rem;
        margin: 0;
        opacity: 0.5;
        font-size: 0.8rem;
        border-bottom-left-radius: 0.5rem;
        border-left: 1px solid #707070;
        border-bottom: 1px solid #707070;
        z-index: 100;
      }
    </style>
  </body>
</html>
