.logo {
  margin: 1.5rem;
  will-change: filter;
  transition: filter 0.15s ease-out;
}
.logo.vite:hover {
  filter: drop-shadow(0 0 2rem #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2rem #61dafbaa);
}
.logo.whyframe:hover {
  filter: drop-shadow(0 0 2rem #ffed24aa);
}

.docs {
  line-height: 2;
  opacity: 0.7;
}

.frames {
  max-width: 900px;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
