.counter {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.25s;
}

.counter:hover {
  background-color: #ced1ff;
  border-color: #646cff;
}

.counter:focus,
.counter:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
