---
import Layout from '@/layouts/Layout.astro'
import HeroDemo from '@/components/demos/HeroDemo.astro'
import Card from '@/components/Card.astro'
---

<Layout title="whyframe" isHero>
  <HeroDemo />

  <section class="docs-container">
    <div class="intro">
      <p class="explainer">
        Nest HTML within iframes and render with true isolation
      </p>

      <div class="buttons">
        <a class="button large primary" href="/docs/overview">Get started</a>
        <a class="button large" href="/docs/how-it-works">How it works</a>
      </div>
    </div>
  </section>
  <section class="docs-container">
    <div class="cards">
      <Card>
        <span slot="title">📦 Just works</span>
        <span>
          Out-of-the-box support for Vite, SvelteKit, Astro, VitePress, and
          Nuxt.
        </span>
      </Card>
      <Card>
        <span slot="title">🛠 Flexible</span>
        <span>
          Wrap it with a component. Add custom styles and logic. Make it
          whatever you want!
        </span>
      </Card>
      <Card>
        <span slot="title">⚡️ Performant</span>
        <span>
          Renders with your framework of choice as-is. Everything else is done
          in compile-time.
        </span>
      </Card>
    </div>
  </section>

  <section class="docs-container">
    <p class="sponsors-text">
      whyframe is made possible thanks to these fine folks
    </p>
    <p class="sponsors-support">
      <a class="link" href="https://patreon.com/bluwy">
        Support me on Patreon!
      </a>
    </p>
    <p class="sponsors-img">
      <a href="https://bjornlu.com/sponsors.svg">
        <img src="https://bjornlu.com/sponsors.svg" alt="Sponsors" />
      </a>
    </p>
  </section>
</Layout>

<style>
  .intro {
    margin: 4rem 0;
  }

  .explainer {
    text-align: center;
    font-size: 1.3rem;
    margin: 3.3rem;
    margin-bottom: 1.5rem;
    opacity: 0.8;
  }

  .explainer > span {
    color: var(--primary-light);
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5rem;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .sponsors-text {
    opacity: 0.8;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
  }

  .sponsors-support {
    opacity: 0.8;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0.7rem;
  }

  .sponsors-img {
    text-align: center;
  }

  .sponsors-img img {
    max-width: calc(100vw - 2rem);
  }

  @media (min-width: 768px) {
    .cards {
      flex-direction: row;
      align-items: stretch;
    }
  }
</style>
