---
import '@/assets/global.css'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.png" />
  </head>
  <body>
    <script is:inline>
      // follow _redirect
      window.location.pathname = '/docs/overview'
    </script>
  </body>
</html>
