<div class="card">
  <h2 class="card-title"><slot name="title" /></h2>
  <p class="card-desc">
    <slot />
  </p>
</div>

<style>
  .card {
    border: 2px solid var(--gray-dark);
    background-color: #30303022;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
  }

  .card-title {
    margin-top: 0;
    margin-bottom: 0.6rem;
    font-weight: 500;
    color: var(--primary);
  }

  .card-desc {
    opacity: 0.8;
    margin: 0.6rem 0 0;
  }

  @media (min-width: 768px) {
    .card {
      width: calc(50% - 1rem);
    }
  }
</style>
