<div class="card">
  <h2><slot name="title" /></h2>
  <p>
    <slot />
  </p>
</div>

<style>
  .card {
    width: calc(100% - 2rem);
    background-color: var(--gray-dark);
    padding: 1rem;
    border-radius: 0.5rem;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0.6rem;
    font-weight: 500;
    color: var(--primary);
  }

  p {
    opacity: 0.8;
    margin: 0.6rem 0 0;
  }

  @media (min-width: 768px) {
    .card {
      width: 300px;
    }
  }
</style>
