---
import github from '@/assets/github.svg'
import { headerLinks } from '@/utils/constants'
import Logo from './Logo.astro'
---

<header>
  <div class={`wrapper docs-container ${Astro.props.stretch ? 'stretch' : ''}`}>
    <Logo />
    <nav>
      <ul>
        {
          headerLinks.map(({ title, url }) => (
            <li>
              <a
                class={Astro.url.pathname.includes(url) ? 'active' : undefined}
                href={url}
                target={url.startsWith('http') ? '_blank' : undefined}
              >
                {title === 'GitHub' ? (
                  <img src={github} alt="GitHub" height="24" />
                ) : (
                  title
                )}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<div class="spacing"></div>

<style>
  header {
    position: fixed;
    background-color: rgba(30, 30, 30, 80%); /* --dark */
    width: 100%;
    z-index: 10;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }

  ul > li > a {
    text-decoration: none;
    color: inherit;
  }

  ul > li > a.active {
    font-weight: 500;
  }

  ul img {
    display: block;
    filter: invert(1);
  }

  .spacing {
    height: 3.5rem;
  }
</style>
