---
import { Code } from 'astro/components'
import PartyButton from './PartyButton.svelte'

const code = `\
<p>Click to change body color</p>

<iframe data-why>
  <PartyButton />
</iframe>`
---

<section class="docs-container">
  <h1 class="headline">
    What you <span>write</span> is what you <span>get</span>
  </h1>
  <div class="wrapper">
    <div class="code-block">
      <Code code={code} lang="html" />
    </div>
    <div class="dash"></div>

    <div class="output-block">
      <p>Click to change body color</p>
      <iframe data-why="svelte" data-why-template="hero">
        <PartyButton />
      </iframe>
    </div>
  </div>
</section>

<style>
  .headline {
    font-size: 3rem;
    text-align: center;
    margin: 3rem 0;
  }

  .headline > span {
    color: var(--primary);
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
  }

  .code-block {
    padding: 0.3rem 1rem;
    background-color: #0d1117;
    /* shiki */
    border-radius: 0.5rem;
    font-size: 1.2em;
    font-weight: 600;
    box-shadow: 0px 0px 2.2px 2px rgba(255, 172, 36, 0.028),
      0px 0px 5.3px 2px rgba(255, 172, 36, 0.04),
      0px 0px 10px 2px rgba(255, 172, 36, 0.05),
      0px 0px 17.9px 2px rgba(255, 172, 36, 0.06),
      0px 0px 33.4px 2px rgba(255, 172, 36, 0.072),
      0px 0px 80px 2px rgba(255, 172, 36, 0.1);
  }

  .dash {
    border: 4px dashed var(--light);
    width: 4rem;
  }

  .output-block {
    padding: 1rem;
    background-color: #0d1117;
    /* shiki */
    border-radius: 0.5rem;
    box-shadow: 0 0 12px 8px var(--light);
    box-shadow: 0px 0px 2.2px 2px rgba(255, 172, 36, 0.028),
      0px 0px 5.3px 2px rgba(255, 172, 36, 0.04),
      0px 0px 10px 2px rgba(255, 172, 36, 0.05),
      0px 0px 17.9px 2px rgba(255, 172, 36, 0.06),
      0px 0px 33.4px 2px rgba(255, 172, 36, 0.072),
      0px 0px 80px 2px rgba(255, 172, 36, 0.1);
  }

  iframe {
    border: none;
    border-radius: 0.5rem;
    display: block;
    margin: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 0.8rem;
  }
</style>
