---
import logo from '@/assets/logo.svg'
import { appName } from '@/utils/constants'
---

<a class="logo" href="/">
  <img src={logo} alt="logo" width="40" height="40" />
  <p class="name">{appName}</p>
</a>

<style>
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: var(--light);
    text-decoration: none;
  }

  .logo > img {
    margin: 7px 0.3rem 7px 0;
  }

  .name {
    display: none;
  }

  @media (min-width: 512px) {
    .name {
      display: block;
    }
  }
</style>
