<footer>
  <hr />
  <p>
    Made by <a href="https://bjornlu.com">Bjorn Lu</a>
  </p>
</footer>

<style>
  footer {
    padding: 2rem 0;
    text-align: center;
    opacity: 0.7;
    margin-top: 2rem;
  }

  hr {
    background-color: var(--light);
    opacity: 0.5;
    margin: 0;
  }

  p {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    font-weight: 500;
    color: var(--light);
  }
</style>
