---
import { sidebarGuideLinks } from '@/utils/constants'
import menuLeft from '@/assets/menu-left.svg?raw'
import Logo from '@/components/Logo.astro'

function isCurrentPage(url: string) {
  return url === Astro.url.pathname || url + '.html' === Astro.url.pathname
}
---

<!-- for click to close -->
<div id="left-sidebar-underlay"></div>
<div id="left-sidebar-desktop-spacer"></div>

<nav id="left-sidebar-nav" aria-labelledby="grid-left">
  <div class="logo-wrapper">
    <Logo />
  </div>
  <ul class="nav-groups">
    {
      sidebarGuideLinks.map((section) => (
        <li>
          <div class="nav-group">
            <h2 class="nav-group-title">{section.title}</h2>
            <ul>
              {section.children?.map((child) => (
                <li class="nav-link">
                  <a
                    href={child.url}
                    aria-current={isCurrentPage(child.url) ? 'page' : 'false'}
                  >
                    {child.title}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        </li>
      ))
    }
  </ul>
  <button id="left-siderbar-button" set:html={menuLeft}> </button>
</nav>

<script is:inline>
  window.addEventListener('load', () => {
    const nav = document.getElementById('left-sidebar-nav')
    const underlay = document.getElementById('left-sidebar-underlay')
    const button = document.getElementById('left-siderbar-button')

    button.addEventListener('click', () => {
      nav.classList.toggle('open')
      underlay.classList.toggle('open')
    })
    underlay.addEventListener('click', () => {
      nav.classList.remove('open')
      underlay.classList.remove('open')
    })
  })
</script>

<style>
  #left-sidebar-nav {
    position: fixed;
    margin-right: 1rem;
    width: 300px;
    max-width: 90vw;
    height: 100%;
    background-color: var(--gray-dark);
    z-index: 11;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  #left-sidebar-nav.open {
    transform: translateX(0);
  }

  #left-sidebar-underlay {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  #left-sidebar-underlay.open {
    pointer-events: all;
    opacity: 0.3;
  }

  .logo-wrapper {
    display: inline-block;
    margin-left: 1rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .nav-groups {
    height: calc(100% - 54px);
    overflow-x: visible;
    overflow-y: auto;
  }

  .nav-groups > li {
    margin: 1.2rem 0;
  }

  .nav-group-title {
    font-size: 1.1em;
    font-weight: 500;
    padding: 0.1rem 1.2rem;
    margin-bottom: 0.2rem;
    margin-top: 0;
  }

  .nav-link a {
    font-size: 1rem;
    padding: 0.3rem 1.2rem;
    font: inherit;
    color: inherit;
    text-decoration: none;
    display: block;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
  }
  .nav-link a:hover,
  .nav-link a:focus {
    opacity: 1;
  }

  .nav-link a[aria-current='page'] {
    position: relative;
    opacity: 1;
    color: var(--primary);
  }

  .nav-link a[aria-current='page']::before {
    position: absolute;
    content: '';
    top: 4px;
    right: 0;
    height: calc(100% - 8px);
    width: 4px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: var(--primary);
  }

  #left-siderbar-button {
    position: absolute;
    bottom: 2rem;
    right: 0;
    transform: translateX(100%);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0.6rem;
    color: ;
  }

  @media (min-width: 768px) {
    #left-sidebar-nav {
      transform: none;
      background-color: var(--dark-more);
      width: calc((100vw - 1248px) / 2 + 300px);
      padding-left: calc((100vw - 1248px) / 2);
      min-width: 300px;
    }

    #left-sidebar-underlay,
    #left-siderbar-button {
      display: none;
    }

    #left-sidebar-desktop-spacer {
      width: 300px;
      flex: 0 0 300px;
    }
  }
</style>
